.about {
    padding: 90px 0 95px;
    background-color: var(--clr-ntr-200);
    &-title {
        @include title(800)
    }
    &-top {
        @media (min-width: 1024px) {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }
    &-members {
        @media (min-width: 768px) {
            display: flex;
            align-items: center;
            gap: 53px;
        }
        border: 1px solid #CCCCCC;
        border-radius: 8px;
        padding: 12px 49px 12px 25px;
        &-title {
            text-transform: uppercase;
            font-style: italic;
            font-weight: 700;
            font-size: 20px;
            line-height: 1.2em;
            span {
                color: var(--clr-prm-100);
            }
        }
        &-items {
            display: flex;
            align-items: center;
            gap: 60px;
        }
    }
    &-list {
        margin-top: 69px;
        &-item {
            @media (min-width: 768px) {
                display: flex;
                column-gap: 49px;
            }
            &:not(:last-child) {
                margin-bottom: 56px;
                @media (max-width: 767px) {
                    margin-bottom: 45px;
                }
            }
        }
        &-icon {
            flex-shrink: 0;
        }
        &-text {
            max-width: 1235px;
            strong {
                font-weight: 600;
                color: var(--clr-prm-100);
            }
        }
    }
    &-blocks {
        margin-top: 83px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 30px;
    }
    &-block {
        border-radius: 8px;
        box-shadow: 0px 4px 35px rgba(0, 0, 0, 0.12);
        padding: 55px 60px 90px;
        &--white {
            .about-block-title {
                color: var(--clr-prm-100);
            }
        }
        &--green {
            background: linear-gradient(158deg, var(--clr-prm-200) 14%, var(--clr-prm-100) 100%);
            .about-block-title, .about-block-list {
                color: var(--clr-ntr-300);
            }
        }
        &-title {
            font-weight: 800;
            font-size: clamp(18px, 2vw, 24px);
            line-height: 1.2em;
            text-transform: uppercase;
            text-align: center;
        }
        &-list {
            @include list-reset;
            font-weight: 400;
            font-size: clamp(16px, 1.5vw, 18px);
            line-height: 1.2em;
            margin-top: 48px;
            li {
                padding-left: 3.2em;
                position: relative;
                max-width: 490px;
                &:not(:last-child) {
                    margin-bottom: 24px;
                }
                &::before {
                    font-weight: 700;
                    font-size: clamp(40px, 4vw, 50px); // 50px
                    line-height: 1.2em;
                    color: rgba(94, 182, 116, 0.5);
                    position: absolute;
                    left: 0;
                    top: -.15em;
                }
            }
            &--slashes {
                li {
                    &::before {
                        content: '/';
                    }
                }
            }
            &--numbers {
                counter-reset: number;
                li {
                    &::before {
                        counter-increment: number;
                        content: counter(number);
                        color: rgba(255, 255, 255, 0.76);
                    }
                }
            }
        }
    }
}

@media (max-width: 1259px) {
    .about {
        &-block {
            padding: 40px 30px;
        }
    }
}

@media (max-width: 1023px) {
    .about {
        &-members {
            margin-top: 18px;
            justify-content: space-between;
        }
    }
}

@media (max-width: 916px) {
    .about {
        &-blocks {
            grid-template-columns: 1fr;
            row-gap: 18px;
        }
        &-block {
            padding: 24px 14px;
            &-list {
                li {
                    padding-left: 36px;
                    max-width: 100%;
                }
            }
        }
        
    }
}

@media (max-width: 767px) {
    .about {
        padding: 40px 0 45px;
        &-members {
            margin-top: 18px;
            padding: 24px 16px;
            &-title {
                font-size: 18px;
            }
            &-items {
                margin-top: 21px;
                justify-content: space-between;
                gap: 0;
            }
            &-item {
                flex-shrink: 0;
            }
        }
        &-list {
            margin-top: 40px;
            &-text {
                margin-top: 21px;
            }
        }
        &-blocks {
            margin-top: 45px;
        }
        &-block {
            &-list {
                margin-top: 25px;
            }
        }
    }
}