.btn {
    border-radius: 8px;
    background-color: var(--btn-bg);
    padding: 18px 32px;
    display: inline-flex;
    align-items: center;
    column-gap: 18px;
    max-width: max-content;
    font-weight: 600;
    font-size: 18px;
    line-height: 1.2em;
    color: var(--clr-ntr-300);
    img {
        transition: all .3s;
    }
    &:hover {
        img {
            transform: scale(1.15);
        }
    }
    &--narrow {
        padding: 12px 22px;
    }
    &--ghost {
        background-color: transparent;
        border: 2px solid var(--btn-bg);
        color: var(--btn-bg);
        font-size: clamp(16px, 1.5vw, 20px);
        font-weight: 500;
        column-gap: 10px;
    }
}