* {
    font-family: var(--ff-primary);
}

.container {
    max-width: 1370px;
    margin: 0 auto;
    @media (max-width: 1439px) {
        padding: 0 40px;
    }
    @media (max-width: 1023px) {
        padding: 0 20px;
    }
}

.body-text {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: var(--body-text-clr);
    @media (max-width: 1440px) {
        font-size: clamp(16px, 1.5vw, 20px);
    }
}

.s-hidden {
    @media (max-width: 1023px) {
        display: none !important;
    }
}