.hero {
    position: relative;
    background-color: var(--clr-ntr-400);
    background-image: url('../img/hero-bg.png');
    background-position: center top;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 720px;
    padding: 165px 0 0;
    --logo-elem-size: 346px;
    @media (min-width: 1024px) {
        &::before {
            content: '';
            background: url('../img/decorations/venture-logo-gray.svg') center center / contain no-repeat;
            display: block;
            width: var(--logo-elem-size);
            height: var(--logo-elem-size);
            position: absolute;
            top: 44px;
            left: calc(var(--logo-elem-size) / -2.5);
            transform: rotate(-32deg);
            z-index: 0;
        }
    }
    &-wrap {
        // display: grid;
        // grid-template-columns: 65.6% 1fr;
        position: relative;
        z-index: 2
    }
    &-title {
        @include title(800);
        max-width: 900px;
        em {
            font-weight: 600;
        }
    }
    &-text {
        margin-top: 16px;
        max-width: 790px;
        hyphens: none !important;
    }
    &-btn {
        margin-top: 50px;
    }
    &-banner {
        position: absolute;
        right: 0;
        bottom: 50px;
        max-width: 412px;
    }
}

@media (max-width: 1280px) {
    .hero {
        &-block {
            max-width: 60%;
        }
        &-banner {
            max-width: 300px;
        }
    }
}

@media (max-width: 920px) {
    .hero {
        background-position: 55% 50%;
    }
}

@media (max-width: 600px) {
    .hero {
        min-height: 690px;
        padding: 36px 0 33px;
        background-image: url('../img/hero-bg-mob.png');
        background-position: right bottom;
        background-size: contain;
        &-wrap {
            position: static;
        }
        &-block {
            max-width: 100%;
        }
        &-text {
            max-width: 85%;
            font-size: 13px;
            line-height: 16px;
        }
        &-btn {
            position: absolute;
            bottom: 33px;
            font-size: 16px;
        }
    }
}

@media (max-width: 399px) {
    .hero {
        &-btn {
            max-width: calc(100% - 30px);
            width: 100%;
            justify-content: center;
        }
    }
}